<%- include("partials/header.ejs") %>

<body class="contact-body">
  <h1 class="contact-heading">Contact Us</h1>
  <h4 class="contact-content">
    Have a question or want to get in touch? We'd love to hear from you! Feel
    free to reach out to us using any of the following methods: Email You can
    drop us an email at contact@example.com for general inquiries, feedback, or
    collaboration opportunities. We do our best to respond to all emails
    promptly. Phone Prefer speaking over the phone? Give us a call at
    +1-123-456-7890. Our support team is available during business hours to
    assist you. Social Media Connect with us on our social media platforms for
    the latest updates, news, and engaging conversations. Follow us on Facebook,
    Twitter, and Instagram. Visit Us If you're in the neighborhood, feel free to
    visit our office at the following address: 123 Main Street, City Name, Zip
    Code. Feedback Your feedback is invaluable to us! Whether it's a suggestion,
    a compliment, or a concern, we appreciate hearing from our visitors. Your
    input helps us improve and provide a better experience for everyone. We
    value your time and strive to respond promptly to all messages and
    inquiries. Thank you for considering contacting us. We look forward to
    hearing from you soon!
  </h4>
</body>

<%- include("partials/footer.ejs")%>
