<%- include("partials/header.ejs") %>

<body class="home-blog-body">
  <h1 class="home-blog-heading">welcome to blog post</h1>
  <h3 class="home-blogs-heading"><%= locals.heading %></h3>
  <p class="home-blogs-contents"><%= locals.contents %></p>
</body>

<%- include("partials/footer.ejs")%>
